<b>PRUEBA</b>
<p>Base URL: {{ baseUrl }}</p>
<p>Method: {{ method }}</p>
<p>Request Uri: {{ requestUri }}</p>
<p>Host: {{ host }}</p>
<p>Uri: {{ uri }}</p>
<p>IP: {{ ip }}</p>
<p>Language: {{ language }}</p>
<p>Is Secure: {{ isSecure }}</p>
<p>Request Format: {{ requestFormat }}</p>
<p>Mime Type: {{ mimeType }}</p>
<p>Has Session: {{ hasSession }}</p>
