<section class="descripcion">
    <h1><a href="{{ path('oferta', { 'ciudad': oferta.ciudad.slug, 'slug' :oferta.slug }) }}">{{ oferta.nombre }}</a></h1>
    {{ oferta.descripcion | mostrar_como_lista }}
    <a class="boton" href="#">Comprar</a>
</section>

<section class="galeria">
    <img alt="..." src="{{ asset('uploads/images/' ~ oferta.foto) }}">
    <p class="precio">{{ oferta.precio }} &euro;</p>
    <p><strong>Condiciones:</strong> {{ oferta.condiciones }}</p>
</section>

<section class="estado">
    <div class="tiempo">
        <strong>Faltan</strong>: {{ oferta.fechaExpiracion | cuenta_atras }}
    </div>
    
    <div class="compras">
        <strong>Compras</strong>: {{ oferta.compras }}
    </div>
    
    <div class="faltan">
        {% set faltan = oferta.umbral - oferta.compras %}
        {% if faltan > 0 %}
            Faltan <strong>{{ faltan }} compras</strong> <br/> para activar la oferta
        {% else %}
            <strong>Oferta activada</strong> por superar las <strong>{{oferta.umbral }}</strong> compras necesarias
        {% endif %}
    </div>
</section>

<section class="direccion">
    <h2>Disfruta de la oferta en</h2>
    <p>
        <a href="#">{{ oferta.tienda.nombre }}</a>
        {{ oferta.tienda.direccion }}
    </p>
</section>

<section class="tienda">
    <h2>Sobre la tienda</h2>
    {{ oferta.tienda.descripcion }}
</section>