{# app/Resources/views/frontend.html.twig #}

{% extends '::base.html.twig' %}

{% set ciudadSeleccionada = app.request.attributes.has('ciudad')? app.request.attributes.get('ciudad'): ciudad_por_defecto %}

{% block stylesheets %}
    <link href="{{ asset('bundles/oferta/css/normalizar.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/oferta/css/comun.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/oferta/css/frontend.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/oferta/js/frontend.js') }}" type="text/javascript" />
{% endblock %}

{% block body %}
    <header>
        <h1><a href="{{ path('portada') }}">CUPON</a></h1>
        <nav>
            <ul>
                <li><a href="{{ path('portada') }}">{{ 'menu.dia' | trans }}</a></li>
                <li><a href="{{ path('ciudad_recientes', { 'ciudad':ciudadSeleccionada }) }}">{{ 'menu.recientes' | trans }}</a></li>
                <li><a href="{{ path('usuario_compras') }}">{{ 'menu.mias' | trans }}</a></li>
                
                <li>{% render "CiudadBundle:Default:listaCiudades" with { 'ciudad': ciudadSeleccionada } %}</li>
            </ul>
        </nav>
    </header>

    <article>
        {% block article %}{% endblock %}
    </article>

    <aside>
        {% block aside %}
            <section id="login">
                {% render 'UsuarioBundle:Default:cajaLogin' %}
            </section>
        {% endblock %}
    </aside>
{% endblock %}