{# src/Cupon/UsuarioBundle/Resources/views/Default/cajaLogin.html.twig #}

{% if app.session.hasFlash('info') %}
    <p class="info">{{ app.session.getFlash('info') }}</p>
{% endif %}
    
{% if is_granted('ROLE_USUARIO') %}
    <p>Conectado como {{ usuario.nombre ~ ' ' ~ usuario.apellidos }}</p>
    <a href="{{ path('usuario_perfil') }}">Ver mi perfil</a>
    <a href="{{ path('usuario_logout') }}">Cerrar sesión</a>
{# el usuario todavía no ha hecho login #}
{% else %}
    <a class="boton" href="{{ path('usuario_registro') }}">Regístrate</a>

    <h2>Accede a tu cuenta</h2>

    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    <form action="{{ path('usuario_login_check') }}" method="post">
        <label for="login_user">Email</label>
        <input id="login_user" type="text" name="_username" value="{{ last_username | default('') }}" />
        
        <label for="login_pass">Contraseña</label>
        <input id="login_pass" type="password" name="_password" />
        
        <input type="submit" value="Entrar" />
        
        <input type="checkbox" id="remember_me" name="_remember_me" checked />
        <label for="remember_me">No cerrar sesión</label>
    </form>
{% endif %}