{% extends '::frontend.html.twig' %}

{% block id 'usuario' %}

{% block title %}Ver / Modificar mis datos{% endblock %}

{% block article %}
    <h1>{{ block('title') }}</h1>
    
    <form action="{{ path('usuario_perfil') }}" method="post" {{ form_enctype(formulario) }}>
        <div class="errors">
            {{ form_errors(formulario) }}
        </div>
        
        <div>
            {{ form_row(formulario.nombre) }}
        </div>

        <div>
            {{ form_row(formulario.apellidos) }}
        </div>

        {# ... #}

        <div>
            {{ form_errors(formulario.permite_email) }}
            {{ form_widget(formulario.permite_email) }}
            <span>Me gustaría recibir el boletín de ofertas de Cupon</span>
        </div>

        {{ form_rest(formulario) }}

        <input class="boton" type="submit" value="Guardar cambios" />
    </form>
{% endblock %}
